<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/logo-mercado-liebre.svg" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mercado Verde</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
</head>

<body style="margin: 0px;">


    <%- include('./partials/navbar.ejs'); %>


        <main>
            <img src="/img/img-home-banner.jpg" width="100%">

            <section>
                <li class="ofertas">Todos Nuestros Productos</li>
                <ul class="lista">
                    <% products.forEach(products => { %>
                    <article><a href="/<%= products.id %>/detail">
                        <img src="/img/products/<%= products.img %>" class="productos">
                        <div class="productoml">
                            <div class="envios">
                                <i class="fa-solid fa-truck camion"></i>
                            </div>
                            <div class="precio">
                                <h5>$<%= products.price %></h5>
                                <h6><%= products.disscount %>% OFF </h6>
                            </div>
                            <b><%= products.title %></b>
                        </div>
                    </a></article>
                    <% }) %>

                
                </ul>
            </section>






        </main>

        <%- include('./partials/footer.ejs'); %>



</body>

</html>